﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminPart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminPart.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdminPart</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="showExcusesBtn">Omluvy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="showPreviousMatchesBtn">Přehled nahraných zápasů</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="showFootballFieldsBtn">Přehled hřišť</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="addNewRefereeBtn">Přidat nového rozhodčího</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" id="printAllMatchesBtn">Stáhnout soubor s zápasy</a>
                        </li>
                        @if (ViewData["Username"] != null && ViewData["UserRole"] != null)
                        {
                            <div class="ms-auto d-flex align-items-center">
                                <span class="me-2">Přihlášen:</span>
                                <span id="usernameLogged" class="me-2"><strong>@ViewData["Username"]</strong></span>
                                <span class="badge bg-secondary">@ViewData["UserRole"]</span>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="margin-left:50px;margin-right:50px;" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>