#informations about app setup
RefereePart/appsettings.*
#the exe files
RefereePart/bin
#imports
RefereePart/RefereePart.*
#environment variables
RefereePart/.env
#obj files
RefereePart/obj
#setup
RefereePart.sln
RefereePart/Properties
RefereePart/Properties/*
RefereePart/publish
RefereePart/publish/*
#secrets to access AzureKeyVault
RefereePart/secrets
RefereePart/secrets/*
.dockerignore
.vs
.vs/*
RefereePart/docfx.json
RefereePart/generate_api_pdf.sh
RefereePart/pdf_output
RefereePart/pdf_output/*
RefereePart/api/*
RefereePart/api
RefereePart/docs/*
RefereePart/docs
RefereePart/_site/*
RefereePart/_site
RefereePart/index.md
RefereePart/toc.yml
